[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"]}
dotmap = "*"
asyncio = "*"
matplotlib = "*"
pandas = "*"
"boto3" = "*"
python-wowapi = "*"
parse = "*"

[dev-packages]
"flake8" = "*"
yapf = "*"
ipykernel = "*"

[requires]
python_version = "3.6"
